*{
    box-sizing: border-box;
}
.form-header{padding-top: 20px;
    color: white;
        background-color: #e53238;
         height: 80px; 
         margin-bottom:20px;
         
    }
    .btn-icon{
        width: 13px;
        height: 13px;
    }
    .mrg{
        margin-left: 12px;
        margin-right: 12px;
    }

